@model IEnumerable<Data.EF.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_LayoutAdmin.cshtml";
}
<!-- JQuery DataTable Css -->
@section CustomCss{
    <link href="/Assets/admin/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet" />

}
<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="preloader">
            <div class="spinner-layer pl-red">
                <div class="circle-clipper left">
                    <div class="circle">
                    </div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle">
                    </div>
                </div>
            </div>
        </div>
        <p>
            Please wait...
        </p>
    </div>
</div>
<!-- #END# Page Loader -->
<!-- Overlay For Sidebars -->
<div class="overlay">
</div>
<!-- #END# Overlay For Sidebars -->
<!-- Search Bar -->
<div class="search-bar">
    <div class="search-icon">
        <i class="material-icons">
            search
        </i>
    </div>
    <input placeholder="START TYPING..." type="text">
    <div class="close-search">
        <i class="material-icons">
            close
        </i>
    </div>
    </input>
</div>
<!-- #END# Search Bar -->
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>
                Danh sách sản phẩm
            </h2>
        </div>
        <!-- Exportable Table -->
        @Html.Action("Products", "Products");
        <!-- #END# Exportable Table -->
    </div>
    
    
</section>
@section js{
    <!-- Jquery DataTable Plugin Js -->
    <script src="/Assets/admin/plugins/jquery-datatable/jquery.dataTables.js">
    </script>
    <script src="/Assets/admin/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js">
    </script>
    <script src="/Assets/admin/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js">
    </script>
    <script src="/Assets/admin/plugins/jquery-datatable/extensions/export/buttons.flash.min.js">
    </script>
    <script src="/Assets/admin/plugins/jquery-datatable/extensions/export/jszip.min.js">
    </script>
    <script src="/Assets/admin/plugins/jquery-datatable/extensions/export/pdfmake.min.js">
    </script>
    <script src="/Assets/admin/plugins/jquery-datatable/extensions/export/vfs_fonts.js">
    </script>
    <script src="/Assets/admin/plugins/jquery-datatable/extensions/export/buttons.html5.min.js">
    </script>
    <script src="/Assets/admin/plugins/jquery-datatable/extensions/export/buttons.print.min.js">
    </script>
}
@section CustomJS{
    <!-- Custom Js -->
    <script src="/Assets/admin/js/admin.js">
    </script>
    <script src="/Assets/admin/js/pages/tables/jquery-datatable.js">
    </script>

    <script src="~/Assets/common/customJs/commonJs.js"></script>
    <script>
        var btnSwitch = $('.btn-switch');
        var btnDelete = $('.btn-delete');
        var btnAddOrUpdate = $('.btn-add-update')
        // Thay đổi trạng thái hiển thị trang chủ
        btnSwitch.click((e) => {
            id = e.target.id;
            status = e.target.checked;
            url = '/admin/Products/SwitchStatus';
            SwitchStatus(url, id, status);
        })
        // Xóa sản phẩm
        btnDelete.click((e) => {
            e.preventDefault();
            var id = e.target.name;
            url = '/admin/Products/Delete'
            DeleteById(url, id);
        })
    </script>
}

