@model IEnumerable<Data.EF.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_LayoutAdmin.cshtml";
}
<!-- JQuery DataTable Css -->
@section CustomCss{
    <link href="/Assets/admin/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet" />

}
<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="preloader">
            <div class="spinner-layer pl-red">
                <div class="circle-clipper left">
                    <div class="circle">
                    </div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle">
                    </div>
                </div>
            </div>
        </div>
        <p>
            Please wait...
        </p>
    </div>
</div>
<!-- #END# Page Loader -->
<!-- Overlay For Sidebars -->
<div class="overlay">
</div>
<!-- #END# Overlay For Sidebars -->
<!-- Search Bar -->
<div class="search-bar">
    <div class="search-icon">
        <i class="material-icons">
            search
        </i>
    </div>
    <input placeholder="START TYPING..." type="text">
    <div class="close-search">
        <i class="material-icons">
            close
        </i>
    </div>
    </input>
</div>
<!-- #END# Search Bar -->
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>
                Danh sách sản phẩm
            </h2>
        </div>
        <!-- Exportable Table -->
        @Html.Action("Products","Products");
        <!-- #END# Exportable Table -->
    </div>
    <!-- Modal confirm switch-->
    <div class="modal" id="confirmSwitch" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Hiển thị ngoài trang chủ</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Bạn có muốn thay đổi trang thái hiển thị sản phẩm ngoài trang chủ không ?.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btn-cancel" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" id="btn-confirm" class="btn btn-primary">Đồng ý</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal confirm delete-->
    <div class="modal" id="confirmDelete" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Xóa sản phẩm</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Sau khi xóa sản phẩm, dữ liệu sẽ mất bạn có đồng ý không ?.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btn-delete-cancel" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" id="btn-delete-confirm" class="btn btn-primary">Đồng ý</button>
                </div>
            </div>
        </div>
    </div>
</section>
@section js{
    <!-- Jquery DataTable Plugin Js -->
    <script src="/Assets/admin/plugins/jquery-datatable/jquery.dataTables.js">
    </script>
    <script src="/Assets/admin/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js">
    </script>
    <script src="/Assets/admin/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js">
    </script>
    <script src="/Assets/admin/plugins/jquery-datatable/extensions/export/buttons.flash.min.js">
    </script>
    <script src="/Assets/admin/plugins/jquery-datatable/extensions/export/jszip.min.js">
    </script>
    <script src="/Assets/admin/plugins/jquery-datatable/extensions/export/pdfmake.min.js">
    </script>
    <script src="/Assets/admin/plugins/jquery-datatable/extensions/export/vfs_fonts.js">
    </script>
    <script src="/Assets/admin/plugins/jquery-datatable/extensions/export/buttons.html5.min.js">
    </script>
    <script src="/Assets/admin/plugins/jquery-datatable/extensions/export/buttons.print.min.js">
    </script>
}
@section CustomJS{
    <!-- Custom Js -->
    <script src="/Assets/admin/js/admin.js">
    </script>
    <script src="/Assets/admin/js/pages/tables/jquery-datatable.js">
    </script>
    <script>
        var btnSwitch = $('.btn-switch');
        var btnConfirm = $('#btn-confirm');
        var btnCancel = $('#btn-cancel');
        var btnDelete = $('.btn-delete');
        var btnConfirmDelete = $('#btn-delete-confirm');
        var tableProducts = $('#tableProducts');
        var button;
        var id = -1;
        var status=true;
        btnSwitch.click((e) => {
            id = e.target.name;
            status = e.target.checked;
            $('#confirmSwitch').modal();
        })
        btnCancel.click(() => {
            var btn = $('input[name=' + id + ']')
            btn.prop("checked", status!='true');
        })
        btnConfirm.click(() => {
            $.ajax({
                url: "/admin/Products/SwitchStatus",
                data: {
                    id: id
                },
                success: (response) => {
                    $('#confirmSwitch').modal('toggle');
                },
                error: (response) => {
                }
            })
            console.log(id);
        });
        var idDelete = -1;
        btnDelete.click((e) => {
            e.preventDefault();
            idDelete = e.target.name;
            $('#confirmDelete').modal();
        })
        btnConfirmDelete.click(() => {
            $.ajax({
                url: "/admin/Products/Delete",
                data: {
                    id: idDelete
                },
                success: (res) => {
                    console.log(res);
                    tableProducts.html(res)
                    $('#confirmDelete').modal('toggle');
                },
                error: (response) => {
                }
            })
            console.log(idDelete);
        })
    </script>
}

