@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section MyCss{
        <link rel="stylesheet" href="~/Assets/home/css/bootstrap.css">
}
<body class="js">

    <!-- Preloader -->
    <!-- End Preloader -->
    <!-- Header -->
    <!--/ End Header Inner -->
    <!--/ End Header -->
    <!-- Breadcrumbs -->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="bread-inner">
                        <ul class="bread-list">
                            <li><a href="index1.html">Trang chủ<i class="ti-arrow-right"></i></a></li>
                            <li class="active"><a href="blog-single.html">Sản phẩm</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->
    <!-- Product Style -->
    <section class="product-area shop-sidebar shop section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-12">
                    <div class="shop-sidebar">
                        <!-- Single Widget -->
                        @Html.Action("Categories", "Products")
                        <!--/ End Single Widget -->
                    </div>
                </div>
                <div class="col-lg-9 col-md-8 col-12">
                    <div class="row">
                        <div class="col-12">
                            <!-- Shop Top -->

                            <div class="shop-top d-flex justify-content-between">
                                <div class="shop-shorter">
                                    <div class="single-shorter">
                                        <label>Show :</label>
                                        <select class="pageSize">
                                            <option selected="selected">9</option>
                                            <option>15</option>
                                            <option>25</option>
                                            <option>30</option>
                                        </select>
                                    </div>
                                    <div class="single-shorter">
                                        <label>Sort By :</label>
                                        <select class="sortBy">
                                            <option selected="selected">Name</option>
                                            <option>Price</option>
                                            <option>Size</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="">
                                    <input class="form-control search" id="myInput" type="text" placeholder="Search..">
                                </div>
                            </div>
                            <!--/ End Shop Top -->
                        </div>
                    </div>
                    <div id="products" class="row">
                        @Html.Action("Products", "Products");
                    </div>
                    <div class="container-fluid">
                        <nav aria-label="Page navigation example">
                            <ul id="pagination" class="pagination justify-content-end">
                                <li class="page-item disabled">
                                    <a class="page-link control" href="#" tabindex="-1" name="Previous">Previous</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#" name="1">1</a></li>
                                <li class="page-item"><a class="page-link" href="#" name="2">2</a></li>
                                <li class="page-item"><a class="page-link" href="#" name="3">3</a></li>
                                <li class="page-item">
                                    <a class="page-link control" href="#" name="Next">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @section MyJs{
        <script src="~/Assets/common/customJs/commonJs.js"></script>
        <script>
            $(document).ready(() => {
                url = '/Products/FilterAndPagination';
                ChangePageNumber();
                ChangePageSize();
                Search();
                ChangeSortBy();
                FindByFK();
            })
            $('a.control').click((e) => {
                var action = e.target.name;
                if (action == 'Previous') {
                    pageNumber+1>page
                }
            })
        </script>
    }
</body>
</html>
