
<!DOCTYPE html>
<html ng-app="pos.vendor">
<head>
    <!-- Copyright © 2021 - 365 Software JSC (POS365.VN) -->
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="robots" content="none" />
    <meta name="google" content="notranslate" />
    <title ng-bind="title">POS365.VN</title>
    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
<link rel="manifest" href="/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="~/favicon/ms-icon-144x144.png">


        
        
            <script type="text/javascript" src="/bundle/bundle-jquery.min.js"></script>
            <link rel="stylesheet" href="/bundle/bundle-layout.min.css?v=be7vUAzNHQ3bc94Z8LvI-NRRxnPzihWhspQKtuu3AWA" />
            <script type="text/javascript" src="/bundle/bundle-database.min.js"></script>
            <script type="text/javascript" src="/bundle/bundle-angular.min.js"></script>
            <script type="text/javascript" src="/bundle/bundle-vendor.min.js?v=IMajPG-qh9jUS_vsWuCNhQhunvulbuKh1fHttTK1ppg"></script>
            <script type="text/javascript">
                if (navigator.userAgent.indexOf('Windows NT 5.1') === -1 && 'serviceWorker' in navigator) {
                    navigator.serviceWorker.register('/sw.min.js')
                        .then((reg) => {
                            console.log('[ServiceWorker]  Registered');
                            // Listen for updates:
                            reg.addEventListener('updatefound', () => {
                                newWorker = reg.installing;
                                // Listen for when the new worker is ready:
                                newWorker.addEventListener('statechange', () => {
                                    switch (newWorker.state) {
                                        case 'installed':
                                            if (navigator.serviceWorker.controller) {
                                                console.log('[ServiceWorker] Updated');
                                                window.location.reload();
                                            }
                                            break;
                                    }
                                });
                            });
                        }).catch((error) => {
                            // registration failed
                            console.log('Registration failed with ' + error);
                        });
                }
            </script>
        
        <script type="text/javascript" src="/lib/kendo/2020.r2/js/jszip.min.js"></script>
        <script type="text/javascript" src="/lib/kendo/2020.r2/js/kendo.web.min.js"></script>
        <script type="text/javascript" src="/lib/kendo/2020.r2/js/cultures/kendo.culture.vi-VN.min.js"></script>
        <script type="text/javascript" src="/lib/kendo/2020.r2/js/kendo.dataviz.core.min.js"></script>
        <script type="text/javascript" src="/lib/kendo/2020.r2/js/kendo.dataviz.themes.min.js"></script>
        <script type="text/javascript" src="/lib/kendo/2020.r2/js/kendo.dataviz.chart.min.js"></script>
        <script type="text/javascript" src="/ReportViewer/js/telerikReportViewer-14.2.20.916.min.js"></script>
        <link rel="stylesheet" href="/lib/kendo/2020.r2/css/kendo.common-material.min.css" />
        <link rel="stylesheet" href="/lib/kendo/2020.r2/css/kendo.material.min.css" />

        
        
            <link rel="stylesheet" href="/bundle/bundle-kendo.min.css" />
        

        <script src="/Config/VendorSession" type="text/javascript"></script>

        <script src="https://apis.google.com/js/api.js"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-62807506-1"></script>
        <script type="text/javascript">
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-62807506-1');
        </script>
</head>
<body>

    <div id="theme-wrapper">
    <!-- Static navbar -->
    <nav class="navbar navbar-static-top" id="header-navbar" ng-controller="HeaderCtrl">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/#!/Dashboard" id="logo" class="navbar-brand">

                    <img src="/images/logo.svg" width="40" height="40" alt="365" class="normal-logo logo-white" title="POS365.VN" />
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown hidden-sm">
                        <a class="btn dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-phone"></i>
                            <span class="count">24/7</span>
                        </a>
                        <ul class="dropdown-menu notifications-list">
                            <li class="pointer">
                                <div class="pointer-inner">
                                    <div class="arrow"></div>
                                </div>
                            </li>
                            <li class="item-header"><i class="fa fa-ambulance"></i> {{'label_Customerservice'|translate}}</li>
                            <li class="item-header" style="text-align:left">
                                <a href="https://ultraviewer.net/vi/download.html" target="_blank">
                                    <strong><i class="fa fa-download"></i> {{'download'|translate}} UltraViewer</strong>
                                </a>
                            </li>
                            <li class="item-header" style="text-align:left">
                                <a href="https://www.teamviewer.com/vi/tai-xuong-tu-dong-teamviewer/" target="_blank">
                                    <strong><i class="fa fa-download"></i> {{'download'|translate}} TeamViewer</strong>
                                </a>
                            </li>

                            <li class="item-header" style="text-align:left">
                                <a href="https://drive.google.com/drive/folders/0B0kuvBxLBrKiV19VWnVFbWhlTUk" target="_blank">
                                    <strong><i class="fa fa-print"></i> {{'download_SilentPrinting'|translate}}</strong>
                                </a>
                            </li>
                            <li class="item-header" style="text-align:left">
                                <a href="https://drive.google.com/drive/folders/0B0kuvBxLBrKicDBFVzZOc2hOVzg?usp=sharing" target="_blank">
                                    <strong><i class="fa fa-download"></i> {{'download_Driver'|translate}}</strong>
                                </a>
                            </li>
                            <li class="item-header" style="text-align:left">
                                <a href="https://drive.google.com/drive/folders/0B0kuvBxLBrKiV19VWnVFbWhlTUk" target="_blank">
                                    <strong><i class="fa fa-download"></i> {{'download_ElectronicScale'|translate}}</strong>
                                </a>
                            </li>

                            <li class="item-header" style="text-align:left">
                                <a href="tel:1900 4515">
                                    <strong><i class="fa fa-phone-square"></i> {{'hotline'|translate}} : 1900 4515</strong>
                                </a>

                            </li>
                            <li class="item-header" style="text-align:left">
                                <a href="mailto:hotro@pos365.vn">
                                    <strong><i class="fa fa-envelope-o"></i> Email : hotro@pos365.vn</strong>
                                </a>
                            </li>
                            <li class="item-header" style="text-align:left">
                                <a href="https://www.facebook.com/pos365.vn" target="_blank">
                                    <strong><i class="fa fa-facebook"></i> www.facebook.com/pos365.vn</strong>
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a ng-href="{{'/#!/'+$root.menuUrl.dashboard}}">
                            <i class="fa fa-dashboard">
                            </i> {{'menu_Dashboard'|translate}}
                        </a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-cubes"></i> {{'menu_Products'|translate}}
                            <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="item" ng-hide="$root.IsRestaurant">
                                <a ng-href="{{'/#!/'+$root.menuUrl.product}}">
                                    <i class="fa fa-cube"></i>
                                    {{'menu_ListOfProduct'|translate}}

                                </a>
                            </li>
                            <li class="item" ng-show="$root.IsRestaurant">
                                <a ng-href="{{'/#!/'+$root.menuUrl.product}}">
                                    <i class="fa fa-cube"></i>
                                    {{'label_Room_Menu'|translate}}

                                </a>
                            </li>
                            <li class="item">
                                <a ng-href="{{'/#!/'+$root.menuUrl.pricebook}}">
                                    <i class="fa fa-calculator"></i>
                                    {{'menu_PriceBook'|translate}}

                                </a>
                            </li>
                            <li class="item" ng-show="$root.IsRestaurant">
                                <a ng-href="{{'/#!/'+$root.menuUrl.productextra}}">
                                    <i class="fa fa-puzzle-piece"></i>
                                    {{'menu_Extra'|translate}}

                                </a>
                            </li>
                            <li class="item">
                                <a ng-href="{{'/#!/'+$root.menuUrl.inventorycount}}">
                                    <i class="fa fa-check-square-o"></i>
                                    {{'menu_InventoryCount'|translate}}
                                </a>
                            </li>
                            <li class="item" ng-hide="$root.IsRestaurant">
                                <a ng-href="{{'/#!/'+$root.menuUrl.barcode}}">
                                    <i class="fa fa-barcode"></i>
                                    {{'menu_PrintBarcodeLabels'|translate}}
                                </a>
                            </li>
                            <li class="item">
                                <a ng-href="{{'/#!/'+$root.menuUrl.manufacturing}}">
                                    <i class="fa fa-cogs"></i>
                                    {{'menu_Manufacturing'|translate}}

                                </a>
                            </li>

                            <li class="item" ng-hide="$root.IsRestaurant">
                                <a ng-href="{{'/#!/'+$root.menuUrl.expirywarning}}">
                                    <i class="fa fa-calendar-times-o"></i>
                                    {{'menu_Expirywarning'|translate}}

                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown" ng-show="$root.IsRestaurant">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-coffee"></i> {{'menu_Restaurant'|translate}}
                            <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="item hidden-xs">
                                <a href="/Restaurant">
                                    <i class="fa fa-cart-plus"></i>
                                    {{'menu_Screensforcashiers'|translate}}
                                </a>
                            </li>
                            <li class="item">
                                <a href="/Served">
                                    <i class="fa fa-pencil-square-o"></i>
                                    {{'menu_Served'|translate}}
                                </a>
                            </li>
                            <li class="item">
                                <a href="/Served/Kitchen">
                                    <i class="fa fa-desktop"></i>
                                    {{'menu_Kitchen'|translate}}
                                </a>
                            </li>
                            <li class="item">
                                <a ng-href="{{'/#!/'+$root.menuUrl.room}}">
                                    <i class="fa fa-crosshairs"></i>
                                    {{('label_ListOf'|translate)|stringFormat:('label_Room'|translate)}}
                                </a>
                            </li>
                            <li class="item">
                                <a ng-href="{{'/#!/'+$root.menuUrl.roomhistory}}">
                                    <i class="fa fa-reply-all"></i>
                                    {{'menu_History'|translate}} {{'label_Today_Return_Coffee'|translate}}
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-exchange"></i> {{'menu_Transactions'|translate}}
                            <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="item" ng-hide="$root.IsRestaurant">
                                <a href="/Sell">
                                    <i class="fa fa-cart-plus"></i>
                                    {{'menu_Screensforcashiers'|translate}}
                                </a>
                            </li>
                            <li class="item">
                                <a ng-href="{{'/#!/'+$root.menuUrl.order}}">
                                    <i class="fa fa-list-alt"></i>
                                    {{'menu_Orders'|translate}}
                                </a>
                            </li>
                            <li class="item" ng-hide="$root.IsRestaurant">
                                <a ng-href="{{'/#!/'+$root.menuUrl.delivery}}">
                                    <i class="fa fa-truck"></i>
                                    {{'label_Delivery'|translate}} - COD

                                </a>
                            </li>
                            <li class="item" ng-hide="$root.IsRestaurant">
                                <a ng-href="{{'/#!/'+$root.menuUrl.returns}}">
                                    <i class="fa fa-share"></i>
                                    {{'menu_Returns'|translate}}

                                </a>
                            </li>
                            <li class="item">
                                <a ng-href="{{'/#!/'+$root.menuUrl.orderstock}}">
                                    <i class="fa fa-truck"></i>
                                    {{'menu_OrderStock'|translate}}

                                </a>
                            </li>

                            <li class="item">
                                <a ng-href="{{'/#!/'+$root.menuUrl.returntosupplier}}">
                                    <i class="fa fa-reply"></i>
                                    {{'menu_ReturnToSupplier'|translate}}

                                </a>
                            </li>
                            <li class="item">
                                <a ng-href="{{'/#!/'+$root.menuUrl.stocktransfer}}">
                                    <i class="fa fa-recycle"></i>
                                    {{'menu_InternalStockTransfer'|translate}}

                                </a>
                            </li>
                            <li class="item">
                                <a ng-href="{{'/#!/'+$root.menuUrl.othertransaction}}">
                                    <i class="fa fa-remove"></i>
                                    {{'menu_OtherTransaction'|translate}}

                                </a>
                            </li>
                            <li class="item">
                                <a ng-href="{{'/#!/'+$root.menuUrl.notebook}}">
                                    <i class="fa fa-book"></i>
                                    {{'menu_NotebookSales'|translate}}
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-users"></i> {{'menu_Partners'|translate}}
                            <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="item">
                                <a ng-href="{{'/#!/'+$root.menuUrl.customer}}">
                                    <i class="fa fa-user"></i>
                                    {{'menu_Customers'|translate}}
                                </a>
                            </li>
                            <li class="item">
                                <a ng-href="{{'/#!/'+$root.menuUrl.warranty}}" ng-hide="$root.IsRestaurant">
                                    <i class="fa fa-calendar-plus-o"></i>
                                    {{'label_WarrantyServiceCare'|translate}}
                                </a>
                            </li>
                            <li class="item">
                                <a ng-href="{{'/#!/'+$root.menuUrl.supplier}}">
                                    <i class="fa fa-building-o"></i>
                                    {{'menu_Suppliers'|translate}}

                                </a>
                            </li>

                            <li class="item">
                                <a ng-href="{{'/#!/'+$root.menuUrl.shippingpartner}}">
                                    <i class="fa fa-paper-plane"></i>
                                    {{'menu_ShippingPartners'|translate}}
                                </a>
                            </li>
                            <li class="item">
                                <a ng-href="{{'/#!/'+$root.menuUrl.sms}}">
                                    <i class="fa fa-envelope-o"></i>
                                    {{'menu_SMSMarketing'|translate}}

                                </a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a ng-href="{{'/#!/'+$root.menuUrl.cashflow}}">
                            <i class="fa fa-money"></i> {{'menu_Cashflow'|translate}}
                        </a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bar-chart"></i> {{'menu_Reporting'|translate}}
                            <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="item">
                                <a href="javascript:void(0)" ng-click="openEndOfDay()">
                                    <i class="fa fa-pie-chart"></i>
                                    {{'report_EndOfDay'|translate}}
                                </a>
                            </li>
                            <li class="item">
                                <a ng-href="{{'/#!/'+$root.menuUrl.salesreport}}">
                                    <i class="fa fa-exchange"></i>
                                    {{'menu_SalesReport'|translate}}
                                </a>
                            </li>
                            <li class="item">
                                <a ng-href="{{'/#!/'+$root.menuUrl.returnsreport}}">
                                    <i class="fa fa-reply"></i>
                                    {{'menu_ReturnsReport'|translate}}
                                </a>
                            </li>

                            <li class="item">
                                <a ng-href="{{'/#!/'+$root.menuUrl.materialusage}}">
                                    <i class="fa fa-cogs"></i>
                                    {{'menu_MaterialUsage'|translate}}
                                </a>
                            </li>
                            <li class="item">
                                <a ng-href="{{'/#!/'+$root.menuUrl.stockorderreport}}">
                                    <i class="fa fa-truck"></i>
                                    {{'menu_StockorderReport'|translate}}
                                </a>
                            </li>
                            <li class="item">
                                <a ng-href="{{'/#!/'+$root.menuUrl.inventoryreport}}">
                                    <i class="fa fa-cube"></i>
                                    {{'menu_InventoryReport'|translate}}
                                </a>
                            </li>
                            <li class="item">
                                <a ng-href="{{'/#!/'+$root.menuUrl.accountingreport}}">
                                    <i class="fa fa-file-text-o"></i>
                                    {{'menu_LiabilitiesReport'|translate}}
                                </a>
                            </li>
                            <li class="item">
                                <a ng-href="{{'/#!/'+$root.menuUrl.commissionreport}}">
                                    <i class="fa fa-pie-chart"></i>
                                    {{'menu_CommissionReport'|translate}}
                                </a>
                            </li>
                            <li class="item">
                                <a ng-href="{{'/#!/'+$root.menuUrl.cashbookreport}}">
                                    <i class="fa fa-money"></i>
                                    {{'report_CashBook'|translate}}
                                </a>
                            </li>
                            <li class="item">
                                <a ng-href="{{'/#!/'+$root.menuUrl.multibranchreport}}">
                                    <i class="fa fa-hospital-o"></i>
                                    {{'menu_MultiBranchReport'|translate}}
                                </a>
                            </li>
                            <li class="item">
                                <a ng-href="{{'/#!/'+$root.menuUrl.customerservicereport}}">
                                    <i class="fa fa-users"></i>
                                    {{'menu_MiniCRMReport'|translate}}
                                </a>
                            </li>
                            <li class="item">
                                <a ng-href="{{'/#!/'+$root.menuUrl.salesanalysisreport}}">
                                    <i class="fa fa-key"></i>
                                    {{'menu_SalesAnalysis'|translate}}
                                </a>
                            </li>
                            <li class="item">
                                <a ng-href="{{'/#!/'+$root.menuUrl.financialreport}}">
                                    <i class="fa fa-line-chart"></i>
                                    {{'menu_FinancialReport'|translate}}
                                </a>
                            </li>

                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right nav-right">

                    <li class="dropdown profile-dropdown">
                        <a href="/{{$root.IsRestaurant?'Restaurant':'Sell'}}" class="{{$root.IsRestaurant?'hidden-xs':''}}" tooltip="{{'menu_Screensforcashiers'|translate}}" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-disable-touch="true">

                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-cart-plus fa-stack-1x red"></i>
                            </span>
                            <span class="visible-xs-block">{{'menu_Screensforcashiers'|translate}}</span>
                        </a>
                    </li>
                    <li class="dropdown profile-dropdown hidden-md" ng-show="$root.IsRestaurant">
                        <a ng-href="/Served" tooltip="{{'menu_Served'|translate}}" tooltip-placement="bottom" tooltip-append-to-body="true">

                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-pencil-square-o fa-stack-1x red"></i>
                            </span>
                            <span class="visible-xs-block">{{'menu_Served'|translate}}</span>
                        </a>
                    </li>
                    <li class="dropdown profile-dropdown">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" tooltip="{{'menu_ChangeBranchHelper'|translate}}" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-disable-touch="true">

                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-map-marker fa-stack-1x red"></i>
                            </span>
                            <span class="visible-xs-block">{{'menu_ChangeBranch'|translate}}</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a><i class="fa fa-map-marker"></i> <strong>{{'menu_ChangeBranchHelper'|translate}}</strong></a></li>
                            <li ng-repeat="itembranch in $root.branchs"><a href="javascript:void(0)" ng-click="ChangeBranch(itembranch.Id)"><i class="fa {{itembranch.Id==$root.currentbranch.Id?'fa-dot-circle-o':'fa-circle-o'}}"></i>{{itembranch.Name}}</a></li>

                        </ul>

                    </li>
                    <li class="dropdown profile-dropdown">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" tooltip="{{'label_Promotion'|translate}}" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-disable-touch="true">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-gift fa-stack-1x red"></i>
                            </span><span class="visible-xs-block">{{'label_Promotion'|translate}}</span>
                            <span class="count">new</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li class="item">
                                <a ng-href="{{'/#!/'+$root.menuUrl.voucher}}">
                                    <i class="fa fa-gift"></i>
                                    {{'label_Voucher_Code'|translate}} (Vouchers)

                                </a>
                            </li>
                            <li><a ng-href="{{'/#!/'+$root.menuUrl.pointconfig}}"><i class="fa fa-gift"></i>{{'label_Permission_PointConfig'|translate}}</a></li>
                            <li><a ng-href="{{'/#!/'+$root.menuUrl.productpromotion}}"><i class="fa fa-gift"></i>{{'label_Permission_ProductPromotion'|translate}}</a></li>
                        </ul>

                    </li>
                    <li class="dropdown profile-dropdown">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" tooltip="{{'menu_Settings'|translate}}" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip-disable-touch="true">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-cog fa-stack-1x red" style="-webkit-animation: rotating 3s linear infinite;-moz-animation: rotating 3s linear infinite;-ms-animation: rotating 3s linear infinite;-o-animation: rotating 3s linear infinite;animation: rotating 3s linear infinite;"></i>
                            </span>
                            <span class="visible-xs-block">{{'menu_Settings'|translate}}</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a ng-href="{{'/#!/'+$root.menuUrl.storesettings}}"><i class="fa fa-home"></i>{{'menu_StoreSettings'|translate}}</a></li>
                            <li><a ng-href="{{'/#!/'+$root.menuUrl.featureconfiguration}}"><i class="fa fa-wrench"></i>{{'menu_FeatureConfiguration'|translate}}</a></li>
                            <li><a ng-href="{{'/#!/'+$root.menuUrl.qrcode}}"><i class="fa fa-qrcode"></i>{{'menu_QrCode'|translate}}</a></li>

                            <li><a ng-href="{{'/#!/'+$root.menuUrl.printtemplates}}"><i class="fa fa-print"></i>{{'menu_PrintTemplates'|translate}}</a></li>
                            <li><a ng-href="{{'/#!/'+$root.menuUrl.branch}}"><i class="fa fa-hospital-o"></i>{{'menu_BranchManagement'|translate}}</a></li>
                            <li><a ng-href="{{'/#!/'+$root.menuUrl.user}}"><i class="fa fa-users"></i>{{'menu_UserManagement'|translate}}</a></li>
                            <li style="border-top: 1px solid gainsboro;"><a href="/Signin/Active"><i class="fa fa-key"></i>{{'label_ActiveRetailer'|translate}}</a></li>
                            <li><a ng-show="$root.isTrial" href="javascript:void(0)" ng-click="ClearSampleData()"><i class="fa fa-remove"></i>{{'menu_ClearSampleData'|translate}}</a></li>
                            <li><a ng-href="{{'/#!/'+$root.menuUrl.userprofile}}"><i class="fa fa-user"></i>{{'menu_UserProfile'|translate}}</a></li>
                            <li><a href="javascript:void(0)" ng-click="logout()"><i class="fa fa-power-off"></i>{{'menu_Logout'|translate}} ({{$root.currentuser.UserName}})</a></li>
                            <li id="config-tool" style="border-top: 1px solid gainsboro;padding-top:5px">
                                <ul id="skin-colors" class="clearfix" style="padding-left: 5px;">
                                    <li>
                                        <a class="skin-changer" data-skin="theme-white" data-toggle="tooltip" title="" style="background-color: #2ecc71;" data-original-title="White/Green">
                                        </a>
                                    </li>
                                    <li>
                                        <a class="skin-changer blue-gradient" data-skin="theme-blue-gradient" data-toggle="tooltip" title="" data-original-title="Gradient">
                                        </a>
                                    </li>
                                    <li>
                                        <a class="skin-changer" data-skin="theme-red" data-toggle="tooltip" title="" style="background-color: #e74c3c;" data-original-title="Red">
                                        </a>
                                    </li>
                                    <li>
                                        <a class="skin-changer active" data-skin="theme-whbl" data-toggle="tooltip" title="" style="background-color: #3498db;" data-original-title="White/Blue">
                                        </a>
                                    </li>
                                    <li>
                                        <a class="skin-changer" data-skin="theme-amethyst" data-toggle="tooltip" title="" style="background-color: #9b59b6;" data-original-title="Amethyst">
                                        </a>
                                    </li>
                                    <li>
                                        <a class="skin-changer active" data-skin="theme-black" data-toggle="tooltip" title="" style="background-color: #34495e;" data-original-title="Default">
                                        </a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </li>

                </ul>
            </div>
            <div id="header-branch" class="hidden-sm hidden-xs"><span style="padding:2px;"><i class="fa fa-map-marker"></i> {{$root.currentbranch.Name}}</span></div>
            <!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
    <div id="page-wrapper" class="container">
        <div class="row" ng-view>
        </div>
    </div>
</div>

<span id="popupNotification" kendo-notification="posnotification" k-auto-hide-after="3000"></span>
<div ng-show="$root.showLoading" style="position: fixed;top: 0px;left: 0px;width: 100%;height: 100%;z-index: 10000;">
    <div class="pace"><div class="pace-progress" data-progress="50" data-progress-text="365" style="-webkit-transform: translate3d(50%, 0px, 0px); -ms-transform: translate3d(50%, 0px, 0px); transform: translate3d(50%, 0px, 0px);"><div class="pace-progress-inner"></div></div><div class="pace-activity"></div></div>
</div>



    
</body>
</html>
