
<nav class="navbar navbar-expand-lg">
    <div class="navbar-collapse">
        <div class="nav-inner">
            <ul class="nav main-menu menu navbar-nav">
                <li class="active"><a href="#">Trang chủ</a></li>
                <li><a href="#">Sản phẩm</a></li>
                <li><a href="#">Dịch vụ</a></li>
                <li>
                    <a href="#">Shop<i class="ti-angle-down"></i><span class="new">New</span></a>
                    <ul class="dropdown">
                        <li>@Html.ActionLink("Tất cả sản phẩm", "Index", "Products")</li>
                        <li>@Html.ActionLink("Giỏ hàng", "Index", "Cart")</li>
                        <li>@Html.ActionLink("Thanh toán", "Index", "Checkout")</li>
                    </ul>
                </li>
                <li><a href="#">Về chúng tôi</a></li>
                <li>
                    <a href="#">Blog<i class="ti-angle-down"></i></a>
                    <ul class="dropdown">
                        <li><a href="blog-single-sidebar.html">Blog Single Sidebar</a></li>
                    </ul>
                </li>
                <li><a href="contact.html">Liên hệ</a></li>
            </ul>
        </div>
    </div>
</nav>
