@model List<Data.EF.Category>

<div class="single-widget category">
    <h3 class="title">Danh mục</h3>
    <ul class="categor-list">
        @foreach (var item in Model)
        {
            <li><a href="#">@item.name</a></li>
        }
    </ul>
</div>