@model List<Data.EF.Category>

<div class="single-widget category">
    <h1 class="title text-center text-danger"><a class="findByCategory" name="0" href="#">Danh mục</a></h1>
    <ul class="categor-list">
        @foreach (var item in Model)
        {
            <li><a class="findByCategory" name=@item.id href="#">@item.name</a></li>
        }

    </ul>
</div>