@model List<Data.EF.Category>
<div class="all-category">
    <h3 class="cat-heading"><i class="fa fa-bars" aria-hidden="true"></i>CATEGORIES</h3>
    <ul class="main-category">
        @foreach (var item in Model)
        {
            <li>@item.name</li>
        }

    </ul>
</div>